@font-face {
    font-family: martinsFirstFont;
    src: url(../fonts/go3v2.ttf);
}
@font-face {
    font-family: martinsSecondFont;
    src: url(../fonts/Osake.ttf);
}
@font-face {
    font-family: martinsThirdFont;
    src: url(../fonts/SEVESBRG.TTF);
}


body{
    background-color: black;
    font-family: ubuntu;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 0;
    background: url("../images/chineseFighterOriginal.jpg") no-repeat center center fixed;
    background-color: black;
    background-attachment: fixed;
    background-size: 89%;
}

section {
    height: 100vh;
    background-color: black;
    margin-top: 100px;
}

section.team {
    background: transparent;
}

section.hero {
    /* background: url("../images/Fighter_neu.png");
    background-attachment: fixed;
    background-size: cover; */
    background: transparent;
    color: rgb(255, 59, 59);
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 63vh;
    margin-bottom: 0;
}

.heroSub {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 0%;
}
.teamFotos {
    width: 400px;
}
.teamFotos:hover {
    width: 600px;
}

.kataPix:hover {
    width: 600px;
}

section.problems {
    height: 100vh;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 59, 59);    
}

.teamPics {
    display: flex;
    flex-basis: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: columns wrap;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 13%;
}

h2 {
    font-size: 100px;
    font-family: martinsFirstFont;
    /* font-family: martinsSecondFont; */
    /* font-family: martinsThirdFont; */
    color: rgb(255, 59, 59);
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2%;
}

.headlineHR {
    /* text-align: right;
    margin-right: 0;
    border-width: 10px;
    border-color: rgb(208, 23, 23);
    width: 80%;
    margin-bottom: 50px; */
    background: url("../images/katanaHR.png") no-repeat;
    height: 120px;
    width: 1300px;
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover;
    text-align: right;
    border: none;
    margin-right: 0;
    margin-top: 0;
}

.titleHR {
    background: url("../images/katanaHRlinks.png") no-repeat;
    height: 120px;
    width: 1300px;
    margin: 0;
    margin-top: 3.7vh;
    margin-bottom: 1.5vh;
    background-size: cover;
    text-align: left;
    border: none;
}

.chapters {
    margin-left: 7%;
    margin-right: 5%;
}
li {
    font-size: 40px;
    padding: 1%;
    margin-right: 5%
}

ul {
    margin-right: 10%;
}


#pooriScreen {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 100px;
    font-family: martinsFirstFont;
    text-shadow: 5px 5px 5px black;
    margin-top: 0;
    margin-left: 7%
}

#warriorsHL {
    text-shadow: 5px 5px 5px black;
    background: transparent;
    opacity: 1;
    border: none;
    padding-top: 0;
}

.warriorsBlack {
    background: black;
    margin: 0;
    padding: 0;
}
.karl {
    background: black;
    margin: 0;
    padding: 0;
}

.week {
    color: rgb(255, 59, 59);
}

p {
    color: rgb(255, 59, 59);
}

.katas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-around;
    margin-top: 5%;
}

.martin {
    margin: 0;
}

#martinStats {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
}

.problem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-content: space-around;
}

.results {
    display:grid;
    margin-left: 10%;
    margin-top: 5%;
    grid-template-columns: auto auto;
    justify-content: left baseline;
}