
body{
    background-color: black;
    color: rgb(236, 218, 23);
    font-size: 30px;
    margin-top: 0;
}

/* #space {
    display: flex;
    height: 2vh;
} */

section {
    height: 100vh;
}

section.hero {
    /* background: url("../images/Fighter_neu.png");
    background-attachment: fixed;
    background-size: cover; */
    color: rgb(208, 23, 23);
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 75vh;
    margin-bottom: 0;
}
.heroSub {
    background: url("../images/chineseFighterOriginal.jpg") no-repeat center center fixed;
    background-attachment: fixed;
    background-size: 100vh;
    margin: 0;
    display: flex;
    justify-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 0%;
}
.teamFotos {
    width: 400px;
}
.teamFotos:hover {
    width: 600px;
}



section.hero h1 {
    font-size: 30px;
}

section.problems {
    height: 100vh;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    
}

.teamPics {
    display: flex;
    flex-basis: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: columns wrap;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}


/* .wholePage {
    color: black;
    alignment: center;
    background-color: black;
    /* background-image: url("../images/chineseFighter.jpg");

    background-repeat: no-repeat; 
}*/

h2 {
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(208, 23, 23);
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 0;
    margin-top: 50px;
}

.headlineHR {
    text-align: right;
    margin-right: 0;
    border-width: 10px;
    border-color: rgb(208, 23, 23);
    width: 80%;
    margin-bottom: 50px;
}

.titleHR {
    text-align: left;
    margin-right: 0;
    border-width: 10px;
    border-
    border-color: rgb(208, 23, 23);
    width: 80%;
    margin-bottom: 0;
    margin-top: 5%;
}

#planForWeek {
    margin-left: 5%;
    margin-right: 5%;
}
li {
    font-size: 40px;
}

/* .sectionHeadLine h1 {
    background-color: black;
    background-position: top left;
    background-size: cover;
    padding: 15em;
} */

#pooriScreen {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 100px;
    font-family: sans-serif;
    text-shadow: 5px 5px 5px black;
}
