
body{
    background-color: black;
    color: rgb(184, 35, 65); 
    font-size: 30px;
    margin-top: 0;
}

/* #space {
    display: flex;
    height: 2vh;
} */

section {
    height: 100vh;
}

section.hero {
    background: url("../images/Fighter_neu.png");
    /* background: url("https://picsum.photos/960") center center;*/
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.teamFotos {
    width: 400px;
    hover:
}
.teamFotos:hover {
    width: 600px;
}



section.hero h1 {
    font-size: 30px;
}

section.problems {
    height: 100vh;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    
}

.teamPics {
    display: flex;
    flex-basis: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: columns wrap;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}


/* .wholePage {
    color: black;
    alignment: center;
    background-color: black;
    /* background-image: url("../images/chineseFighter.jpg");

    background-repeat: no-repeat; 
}*/

h2 {
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(128, 22, 43);
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 0;
}

.headlineHR {
    text-align: right;
    margin-right: 0;
    border-width: 10px;
    border-color: rgb(128, 22, 43);
    width: 80%;
    margin-bottom: 50px;

}

#planForWeek {
    margin-left: 5%;
    margin-right: 5%;
}
li {
    font-size: 40px;
}

/* .sectionHeadLine h1 {
    background-color: black;
    background-position: top left;
    background-size: cover;
    padding: 15em;
} */

#pooriScreen {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 100px;
    font-family: sans-serif;
    text-shadow: 5px 5px 5px black;
}
